
<%- include('_header.ejs') -%>
<form  class="form-control" method="POST" action="/createuser">
        <input  class="form-control" type="text" name="KEY" placeholder="KEY">
         <input class="form-control" type="text" name="username" placeholder="username">
         <input class="form-control" type="text" name="email" placeholder="email">
         <input class="form-control" type="text" name="phone" placeholder="phoner">
         <input class="form-control" type="text" name="words" placeholder="wordsr">

         <input type="submit" value="Login" class="btn btn-primary btn-block" />
</form>
<%- include('_footer.ejs') -%>